
p.border {
  margin-left : 13px;
  margin-top: 8px;
  font-size: 0.9em;
  border-style: solid;
  border-width: medium;
  border-color: #000000;
}
#container {
  margin: 35px;
}
.glyphicon-plus {
  font-size: xx-large;
}
#fieldName {
  font-size: x-large;
  vertical-align: bottom;
}
.customInputGroup {
  font-size: x-large;
}
.customInput {
  font-size: x-large;
  width: 100%;
}
#pros {
  font-size: x-large;
}
#cons {
  font-size: x-large;
}
#prosUl {
  font-size: x-large;
  margin: 12px;
}
#consUl {
  font-size: x-large;
  margin: 12px;
}
select {
  font-size: x-large;
  color: black;
}
.stars {
  height: 46px;
}
.stars-span {
  top: 25%;
}
.glyphicon-star {
  font-size: 1.4em;
}
input {
  width: 100%;
  font-size: x-large;
}
label {
  font-size: x-large;
}
.list {
  font-size: large;
}
.subInput {
  width: 60%;
  margin-left: 10px;
}
.selectHeader {
  margin-top: 10px;
}
.selectOptions {
  margin-top: 10px;
}
.formcheckbox {
  height: 25px;
  width: 25px;
  margin-top: 8px;"
}
.changeCat {
  position: relative;
  z-index: 100;
  width: 80%;
  height: 40px;
}
.catInput {
  width: 114.5%;
}
.homeBar {
  margin: 6px;
  padding: 4px;
}
.textRows {
  margin: 9px;
}
.strapline {
  color: #777777;
  opacity: 0.8;
}
.header {
  height: 100%;
}
.logIn {
  margin-top: 12px;
}
.createAccount {
  margin-top: 16px;
}
#productsList {
  list-style-type: none;
}
.stars-span {
  margin-left: 12px;
}
.productLi {
  border-radius: 25px;
}
.reviewText {
  position:relative;
  padding:10px 8px 0px 8px;
  margin:0 0 0px 0;
  z-index:2;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.shadow:hover {
  -webkit-box-shadow: 0px 0px 20px 5px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 20px 5px #aaa;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 20px 5px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.shadeMe {
  -webkit-box-shadow: 0px 0px 5px 8px #777777;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 5px 8px #777777;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 5px 8px #777777;
}


.nameAndRating {
  margin: 10px;
}
.reviewText {
  margin: 10px;
}
.listDivider {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
