<div id="container">
  <h3>Create a review template</h3>
  <h4>Use ENTER key to submit fields. Submit the SAME(case sensitive) field name twice to delete it.</h4>
  <div class="row">
    <div class="col-xs-3">
      <button class="btn btn-default" ng-click="vm.go('/')">Add review</button>
    </div>
    <div class="col-xs-3">
      <h4>Update a template: </h4>
      <select ng-options="options as options.cat for options in vm.temps" ng-model="vm.temp" ng-change="vm.setCat = true;"></select>
    </div>
  </div>

  <hr>
  <div class="row errors">
    <h3 class="alert-danger text-center" ng-show="vm.error">{{ vm.error }}</h4>
  </div>


  <div class="row form-group">
    <div class="col-xs-4">
      <label>Category (must be unique):</label>
    </div>
    <form>
      <div class="col-xs-7">
        <input class="catInput" ng-model="vm.temp.cat" ng-disabled="vm.setCat" ng-required>        
      </div>
      <button type="submit" ng-hide="1" ng-click="vm.addCat()"></button>
    </form>
    <div class="col-xs-1">
      <button class="changeCat btn btn-primary pull-right" ng-click="vm.editCat()">Change</button>
    </div>
  </div>
    


  <form>
    <div class="row form-group">
      <div class="col-xs-4">
        <label>Add a text field:</label>
      </div>
      <div class="col-xs-8">
        <input ng-model="vm.text">
      </div>
    </div>
    <button ng-hide="1" ng-click="vm.addText()"></button>
  </form>

  <div class="row">
    <div class="col-xs-4">
      <label ng-show="{{ vm.temp.text }}">Current text fields:</label>
    </div>
    <div class="col-xs-8">
      <ul class="list">
        <li ng-repeat="text in vm.temp.text">{{ text }}</li>
      </ul>
    </div>
  </div>

  <form>
    <div class="row form-group">
      <div class="col-xs-4">
        <label>Add an RTF text area:</label>
      </div>
      <div class="col-xs-8">
        <input ng-model="vm.rtf">
      </div>
    </div>
    <button ng-hide="1" ng-click="vm.addRTF()"></button>
  </form>

  <div class="row">
    <div class="col-xs-4">
      <label ng-show="{{ vm.temp.rtf }}">Current RTF fields:</label>
    </div>
    <div class="col-xs-8">
      <ul class="list">
        <li ng-repeat="rtf in vm.temp.rtf">{{ rtf }}</li>
      </ul>
    </div>
  </div>

  <form>
    <div class="row form-group">
      <div class="col-xs-4">
        <label>Add a checkbox field:</label>
      </div>
      <div class="col-xs-8">
        <input ng-model="vm.check">
      </div>
    </div>
    <button ng-hide="1" ng-click="vm.addCheck()"></button>
  </form>
  <hr>

  <div class="row" ng-repeat="(prop, check) in vm.temp.check">
    <div class="col-xs-4">
      <label ng-show=""></label>
    </div>
    <div class="col-xs-8">
      <form>
        <ul>
          <li>{{ prop }} : {{ check }} <input ng-model="vm.checkOptions[prop]" placeholder="add an option" class="subInput"></li>
        </ul>
        <button ng-hide="1" ng-click="vm.addCheckOption(prop)"></button>
      </form>
    </div>
  </div>

  <hr>
  <form>
    <div class="row form-group">
      <div class="col-xs-4">
        <label>Selections with options:</label>
      </div>
      <div class="col-xs-8">
        <input ng-model="vm.select">
      </div>
    </div>
    <button ng-hide="1" ng-click="vm.addSelect()"></button>
    <hr>
  </form>

  <div class="row" ng-repeat="(prop, select) in vm.temp.select">
    <div class="col-xs-4">
      <label ng-show=""></label>
    </div>
    <div class="col-xs-8">
      <form>
        <ul>
          <li>{{ prop }} : {{ select }}<input placeholder="add an option" class="subInput" ng-model="vm.selectOptions[prop]"></li>
        <button ng-hide="1" ng-click="vm.addSelectOption(prop)"></button>
      </form>
    </div>
  </div>

  <hr>
  <div class="row btn-group btn-group-justified">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default" ng-hide="vm.areYouSure" ng-click="vm.areYouSure = true;">Clear Form</button>
      <button class="btn btn-danger" ng-click="vm.clearTemplate()" ng-hide="!vm.areYouSure">Are you sure?</button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-primary" ng-click="vm.saveTemplate()">Save Template</button>
    </div>

  <p>Current Template Object (debugging purposes): {{ vm.temp }}</p>
  </div>
</div>